/* Pin Button */
.iconWrapper__9293f.clickable__9293f.selected__9293f[aria-label="Pinned Messages"] {
    transform: rotate(-45deg);
    transition: 100ms ease-in-out;
}
.iconWrapper__9293f.clickable__9293f[aria-label="Pinned Messages"] {
    transform: rotate(0deg);
    transition: 100ms ease-in-out;
}
/* Menus Animation */
@keyframes menu-anim {
    from {
        transform:scaleY(0);
    }
    to {
        transform:scaleY(1);
    }
}
.container__23c08, .container__2692d, .userPopout-2j1gM4, .browser_d98031, .messagesPopoutWrap__45690, .wrapper__8ef02, .recentMentionsPopout__95796 {
    animation: menu-anim 240ms ease-in-out;
    transform-origin: top;
}
.positionLayer__08434 .emojiPicker_c0e32c {
    animation: menu-anim 240ms ease-in-out;
    transform-origin: top;
}
/*Context Menu START*/
@keyframes context-new {
    0% {
        transform: scale(1, 0.8); 
    } 
}
.menu_c1e9c4[aria-label="Server Actions"], .menu_c1e9c4[aria-label="Message Actions"], .menu_c1e9c4[aria-label="User Settings Actions"], .menu_c1e9c4[aria-label="Channel Actions"], 
.menu_c1e9c4[aria-label="Text area Actions"], .menu_c1e9c4[aria-label="Server Role Actions"].menu_c1e9c4[aria-label="Server Actions"], .menu_c1e9c4[aria-label="Message Actions"], 
.menu_c1e9c4[aria-label="User Settings Actions"], .menu_c1e9c4[aria-label="Channel Actions"], .menu_c1e9c4[aria-label="Text area Actions"], 
.menu_c1e9c4[aria-label="Server Role Actions"], .menu_c1e9c4[aria-label="Thread Actions"] {
    animation: opacity 50ms ease, context-new 240ms cubic-bezier(0, 0, 0, 1);
    transform-origin: top;
}
.menu_c1e9c4, .scroller-1bVxF5 {
    background: rgb(40 40 40);
    border-radius: 2px;
    padding: 0px 2px;
    box-shadow: 0 2px 8px rgb(38 38 38 / 50%) !important;
}
/* Server menu */
#guild-header-popout .scroller-1bVxF5 {
    transform-origin: top;
    box-shadow: 0 2px 8px rgb(38 38 38 / 50%) !important;
}
/*Add friend Animation */
@keyframes add-friend {
    from {
        transform: translate(0, -230px); 
    } 
}
.header__94b08 {
    border-bottom: 0;
    background-color: var(--mbd-black3);
    animation: 150ms ease, add-friend 250ms cubic-bezier(0,0,0,1);
}

/* App directory & App Animation */
@keyframes fadein-anim {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}
.visual-refresh .directoryContainer_da3f59 {
    animation: fadein-anim 300ms ease-in-out both;
}
.app__160d8 {
    animation: fadein-anim 400ms ease-in-out both;
}