/* Pin Button */
.iconWrapper-2awDjA.clickable-ZD7xvu.selected-29KTGM[aria-label="Pinned Messages"] {
    transform: rotate(0deg);
    transition: 100ms ease-in-out;
}
.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label="Pinned Messages"] {
    transform: rotate(45deg);
    transition: 100ms ease-in-out;
}
/* Menus Animation */
@keyframes menu-anim {
    from {
        transform:scaleY(0);
    }
    to {
        transform:scaleY(1);
    }
}
.container-3u7RcY, .container-2ebMPP, .userPopout-2j1gM4, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .wrapper-1NB3WY {
    animation: menu-anim 240ms ease-in-out;
    transform-origin: top;
}
.positionLayer-1cndvf .emojiPicker-6YCk8a {
    animation: menu-anim 240ms ease-in-out;
    transform-origin: top;
}
/*Context Menu START*/
@keyframes context-new {
    0% {
        transform: scale(1, 0.8); 
    } 
}
.menu-1QACrS[aria-label="Server Actions"], .menu-1QACrS[aria-label="Message Actions"], .menu-1QACrS[aria-label="User Settings Actions"], .menu-1QACrS[aria-label="Channel Actions"], .menu-1QACrS[aria-label="Text area Actions"], .menu-1QACrS[aria-label="Server Role Actions"] {
    animation: opacity 50ms ease, context-new 240ms cubic-bezier(0, 0, 0, 1);
    transform-origin: top;
}
.menu-1QACrS, .scroller-1bVxF5 {
    background: var(--mbd-black3);
    border-radius: 2px;
    padding: 0px 2px;
    box-shadow: 0 2px 10px rgb(20 20 20 / 50%) !important;
}
/* Server menu */
#guild-header-popout .scroller-1bVxF5 {
    transform-origin: top;
    box-shadow: 0 2px 15px rgb(0 0 0) !important;
}
/* Top bar options */
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    transition: 100ms ease-out;
}