/* Pin Button */
.iconWrapper_e44302.clickable_e44302.selected_e44302[aria-label="Pinned Messages"] {
    transform: rotate(-45deg);
    transition: 100ms ease-in-out;
}
.iconWrapper_e44302.clickable_e44302[aria-label="Pinned Messages"] {
    transform: rotate(0deg);
    transition: 100ms ease-in-out;
}
/* Menus Animation */
@keyframes menu-anim {
    from {
        transform:scaleY(0);
    }
    to {
        transform:scaleY(1);
    }
}
.container__23c08, .container_f1c3d9, .userPopout-2j1gM4, .browser_f542fc, .messagesPopoutWrap_ac90a2, .wrapper_d8cdac, .recentMentionsPopout_ddb5b4 {
    animation: menu-anim 240ms ease-in-out;
    transform-origin: top;
}
.positionLayer_af5dbb .emojiPicker_c6ee36 {
    animation: menu-anim 240ms ease-in-out;
    transform-origin: top;
}
/*Context Menu START*/
@keyframes context-new {
    0% {
        transform: scale(1, 0.8); 
    } 
}
.menu_d90b3d[aria-label="Server Actions"], .menu_d90b3d[aria-label="Message Actions"], .menu_d90b3d[aria-label="User Settings Actions"], .menu_d90b3d[aria-label="Channel Actions"], 
.menu_d90b3d[aria-label="Text area Actions"], .menu_d90b3d[aria-label="Server Role Actions"].menu_d90b3d[aria-label="Server Actions"], .menu_d90b3d[aria-label="Message Actions"], 
.menu_d90b3d[aria-label="User Settings Actions"], .menu_d90b3d[aria-label="Channel Actions"], .menu_d90b3d[aria-label="Text area Actions"], 
.menu_d90b3d[aria-label="Server Role Actions"], .menu_d90b3d[aria-label="Thread Actions"] {
    animation: opacity 50ms ease, context-new 240ms cubic-bezier(0, 0, 0, 1);
    transform-origin: top;
}
.menu_d90b3d, .scroller-1bVxF5 {
    background: rgb(40 40 40);
    border-radius: 2px;
    padding: 0px 2px;
    box-shadow: 0 2px 8px rgb(38 38 38 / 50%) !important;
}
/* Server menu */
#guild-header-popout .scroller-1bVxF5 {
    transform-origin: top;
    box-shadow: 0 2px 8px rgb(38 38 38 / 50%) !important;
}
/*Add friend Animation */
@keyframes add-friend {
    from {
        transform: translate(0, -230px); 
    } 
}
.header_c96274 {
    border-bottom: 0;
    background-color: var(--mbd-black3);
    animation: 150ms ease, add-friend 250ms cubic-bezier(0,0,0,1);
}

/* App directory & App Animation */
@keyframes fadein-anim {
    0% {
        opacity: 0;
    } 
    100% {
        opacity: 1;
    }
}
.theme-dark .directoryContainer_da3f59 {
    animation: fadein-anim 300ms ease-in-out both;
}
.app_a01fb1 {
    animation: fadein-anim 400ms ease-in-out both;
}