/*Chat bubbles START */
.message_d5deea.groupStart_d5deea {
    position: relative;
    margin: 16px 5px 0 70px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black1);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.cozy_f9f2ca.wrapper_f9f2ca:after, .previewMessage_c31d36 .message_d5deea:not(.groupStart_d5deea):before {
    content: '';
    position: absolute;
    width: 0 !important;
    height: 0;
    top: 0px !important;
    left: -6px !important;
    margin: -6px 0 0 0;
    border: 6px solid transparent;
    border-color: transparent;
    border-right-color: var(--mbd-black1);
    pointer-events: none;
    transform: rotate(135deg);
}
.message_d5deea.systemMessage_d5deea.groupStart_d5deea:after, .message_d5deea:not(.groupStart_d5deea):after {
    display: none;
}
.message_d5deea.systemMessage_d5deea.groupStart_d5deea {
    border-radius: 5px;
}
.message_d5deea.groupStart_d5deea .avatar_f9f2ca, .systemMessage_d5deea.message_d5deea:not(.groupStart_d5deea) .avatar_f9f2ca {
    top: 0px;
    left: -50px;
}
.avatarDecoration_f9f2ca {
    left: -55px;
    top: 0;
}
.avatar_f9f2ca {
    top: 0px;
    left: 20px;
}
.message_d5deea:not(.groupStart_d5deea).cozy_f9f2ca.wrapper_f9f2ca {
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    border-radius: 0 0 5px 5px;
    margin-top: -3px;
}
.message_d5deea:not(.groupStart_d5deea).mentioned_d5deea {
    background-color: rgb(51 45 32) !important;
}
.theme-dark .message_d5deea.selected_d5deea, .theme-dark.mouse-mode.full-motion .message_d5deea:hover {
    background: var(--mbd-black1);
}
.message_d5deea:not(.groupStart_d5deea) {
    margin: 0 5px 0 70px;
    background: var(--mbd-black1);
    overflow: visible;
}
.message_d5deea:not(.groupStart_d5deea):before {
    position: absolute;
    content: " ";
    left: 0;
    pointer-events: none;
}
.cozy_f9f2ca .timestamp_f9f2ca.alt_f9f2ca {
    left: -65px;
}
.embedFull_b0068a {
    border-left: 4px solid var(--mbd-black3);
}
.embedFull_b0068a {
    background: var(--mbd-black2) !important;
}
.attachment_b52bef {
    border-color: var(--mbd-black1);
    background-color: var(--mbd-black1);
}
.attachment_b52bef.newMosaicStyle_b52bef, .hoverButtonGroup_e5c1dc {
    background-color: var(--mbd-black2); 
}
.hljs {
    background: var(--mbd-black2);
}
.markup_f8f345 code {
    background: var(--mbd-black2) !important;
}
.jumpToPresentBar_cf58b5 {
    background-color: var(--mbd-black4) !important;
}
.textContainer_d8e2d0, .footer_d8e2d0, .modalTextContainer_d8e2d0 {
    background-color: var(--mbd-black2) !important;
    border: 1px solid var(--mbd-black2) !important;
}
.mentioned_d5deea.message_d5deea.groupStart_d5deea {
    background-color: rgb(51 45 32) !important;
}
.button_f7e168 {
    height: 18px;
}
.button_f7e168.selected_f7e168 {
    color: #FFF;
    background-color: transparent;
}
.button_f7e168:active {
    color: #FFF;
    background-color: transparent;
}
.full-motion .wrapper_f7e168:hover, .wrapper_f7e168 {
    box-shadow: none;
    border: none;
}
.wrapper_f7e168 {
    height: 28px;
    padding: 0;
    margin: 0;
    border: none;
}
.container_a3b500 {
    padding: 0;
    top: 0px;
}
.message_d5deea:not(.groupStart_d5deea) .buttons_d5deea.container_a3b500 {
    top: 0;
}
.button_f7e168:hover, .wrapper_f7e168 {
    background-color: rgb(43 43 43);
    border-radius: 0;
    background-clip: content-box;
}
.hoverBarButton_e986d9:hover .icon_e986d9 {
    transform: none;
}
.scrollableContainer_d0696b {
    background: var(--mbd-black2);
}
.theme-dark .container_f2bfbb, .theme-dark .reactors_f2bfbb {
    background-color: var(--mbd-black1);
}
.button_f7e168.dangerous_f7e168 {
    color: var(--mbd-notification);
}
.reactions_f61c73 {
    margin-top: 5px;
}
/* Automod Messages */
.embedCard_a0eae1 {
    background-color: var(--mbd-black2);
}
.iconContainer_bc2461 {
    left: -76px;
    top: 0;
}
.automodMessage_d5deea:before, .shieldIcon_cc3927 {
    background-color: var(--mbd-notification);
}
.embedCard_a0eae1 .cozy_f9f2ca.wrapper_f9f2ca {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black1);
    border-bottom: none !important;
    overflow: visible !important;
}
/*Chat bubbles END */


/* Compact view */
.message_d5deea:not(.groupStart_d5deea).compact_f9f2ca .timestamp_f9f2ca, .message_d5deea.groupStart_d5deea.compact_f9f2ca .timestamp_f9f2ca {
    position: relative;
    left: -5px;
}
.compact_f9f2ca.message_d5deea.groupStart_d5deea {
    padding: 2px 14px;
    border-radius: 4px;
}
.message_d5deea:not(.groupStart_d5deea).compact_f9f2ca.wrapper_f9f2ca {
    margin-top: -3px;
    border-radius: 0 0 5px 5px;
    padding-left: 15px;
}
/* Popup veiw */
.message_ddcc45 .wrapper_f9f2ca .avatar_f9f2ca {
    left: -50px;
    top: -2px;
}
.message_ddcc45 .wrapper_f9f2ca {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black2);
    border-bottom: none !important;
    overflow: visible !important;
}
.message_ddcc45 .cozy_f9f2ca.wrapper_f9f2ca:after {
    border-right-color: var(--mbd-black2);
}
.theme-dark .message_ddcc45 {
    background-color: transparent;
    box-shadow: none;
}

/* inbox */
.recentMentionsPopout_ddb5b4 .cozy_f9f2ca.wrapper_f9f2ca, .messagesPopoutWrap_ac90a2 .cozy_f9f2ca.wrapper_f9f2ca {
    position: relative;
    margin: 16px 0 0 60px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black2);
    border-bottom: none !important;
    overflow: visible !important;
}
.recentMentionsPopout_ddb5b4 .cozy_f9f2ca.wrapper_f9f2ca:not(.groupStart_d5deea) {
    margin: 0 0 0 60px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
}
.recentMentionsPopout_ddb5b4 .cozy_f9f2ca.wrapper_f9f2ca:after, .messagesPopoutWrap_ac90a2 .cozy_f9f2ca.wrapper_f9f2ca:after {
    border-right-color: var(--mbd-black2)
}
.recentMentionsPopout_ddb5b4 .cozy_f9f2ca.wrapper_f9f2ca .avatar_f9f2ca, .messagesPopoutWrap_ac90a2 .cozy_f9f2ca.wrapper_f9f2ca .avatar_f9f2ca {
    left: -55px;
}
.container_f1c3d9 .cozy_f9f2ca.wrapper_f9f2ca:not(.groupStart_d5deea).message_c06487:after {
    border-right-color: transparent;
}
.messageContainer_ddb5b4, .messages_c06487, .wrapper_b75bb9 {
    background-color: transparent;
}
.container_ddb5b4 {
    padding-right: 0;
    padding-left: 8px;
}
/* New thread message preview */
.messagePreview_fb4810.cozy_f9f2ca.wrapper_f9f2ca {
    position: relative;
    margin: 16px 17px 6px 70px;
    padding: 8px 10px !important;
    background-color: var(--mbd-black1);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.messagePreview_fb4810 .avatar_f9f2ca {
    left: -50px;
}
/* Mod view */
.sidebarContainer_d2194f .searchResult_ddc613 .cozy_f9f2ca.wrapper_f9f2ca, .searchResult_ddc613 .cozy_f9f2ca.wrapper_f9f2ca {
    position: relative;
    margin: 16px 0 0 60px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black2);
    border-bottom: none !important;
    overflow: visible !important;
}
.sidebarContainer_d2194f .searchResult_ddc613 .cozy_f9f2ca.wrapper_f9f2ca:after, .searchResult_ddc613.cozy_f9f2ca.wrapper_f9f2ca:after {
    border-right-color: var(--mbd-black2)
}
.sidebarContainer_d2194f .searchResult_ddc613 .cozy_f9f2ca.wrapper_f9f2ca .avatar_f9f2ca, .searchResult_ddc613 .cozy_f9f2ca.wrapper_f9f2ca .avatar_f9f2ca {
    left: -55px;
}
.sidebarContainer_d2194f .innerContainer_f328ee li>div {
    background: transparent !important;
    box-shadow: none;
}