/*Chat bubbles START */
.message__5126c.groupStart__5126c {
    position: relative;
    margin: 16px 5px 0 70px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black1);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.cozy_c19a55.wrapper_c19a55:after, .previewMessage__5d148 .message__5126c:not(.groupStart__5126c):before {
    content: '';
    position: absolute;
    width: 0 !important;
    height: 0;
    top: 0px !important;
    left: -6px !important;
    margin: -6px 0 0 0;
    border: 6px solid transparent;
    border-color: transparent;
    border-right-color: var(--mbd-black1);
    pointer-events: none;
    transform: rotate(135deg);
}
.message__5126c.systemMessage__5126c.groupStart__5126c:after, .message__5126c:not(.groupStart__5126c):after {
    display: none;
}
.message__5126c.systemMessage__5126c.groupStart__5126c {
    border-radius: 5px;
}
.message__5126c.groupStart__5126c .avatar_c19a55, .systemMessage__5126c.message__5126c:not(.groupStart__5126c) .avatar_c19a55 {
    top: 0px;
    left: -50px;
}
.avatarDecoration_c19a55 {
    left: -55px;
    top: 0;
}
.avatar_c19a55 {
    top: 0px;
    left: 20px;
}
.message__5126c:not(.groupStart__5126c).cozy_c19a55.wrapper_c19a55 {
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    border-radius: 0 5px 5px 5px;
    margin-top: -3px;
}
.message__5126c:not(.groupStart__5126c).mentioned__5126c {
    background-color: rgb(51 45 32) !important;
}
.visual-refresh .message__5126c.selected__5126c, .visual-refresh.mouse-mode.full-motion .message__5126c:hover {
    background: var(--mbd-black1);
}
.message__5126c:not(.groupStart__5126c) {
    margin: 0 5px 0 70px;
    background: var(--mbd-black1);
    overflow: visible;
}
.message__5126c:not(.groupStart__5126c):before {
    position: absolute;
    content: " ";
    left: 0;
    pointer-events: none;
}
.cozy_c19a55 .timestamp_c19a55.alt_c19a55 {
    left: -65px;
}
.embedFull__623de {
    border-left: 4px solid var(--mbd-black3);
}
.embedFull__623de {
    background: var(--mbd-black2) !important;
}
.fileWrapper__0ccae {
    border-color: var(--mbd-black1);
    background-color: var(--mbd-black1);
}
.fileWrapper__0ccae.newMosaicStyle_b52bef, .hoverButtonGroup__06ab4 {
    background-color: var(--mbd-black2); 
}
.hljs {
    background: var(--mbd-black2);
}
.markup__75297 code {
    background: var(--mbd-black2) !important;
}
.jumpToPresentBar__0f481 {
    background-color: var(--mbd-black4) !important;
}
.textContainer__4d95d, .footer__4d95d, .modalTextContainer__4d95d {
    background-color: var(--mbd-black2) !important;
    border: 1px solid var(--mbd-black2) !important;
}
.mentioned__5126c.message__5126c.groupStart__5126c {
    background-color: rgb(51 45 32) !important;
}
.button_f7ecac {
    height: 18px;
}
.button_f7ecac.selected_f7ecac {
    color: #FFF;
    background-color: transparent;
}
.button_f7ecac:active {
    color: #FFF;
    background-color: transparent;
}
.full-motion .wrapper_f7ecac:hover, .wrapper_f7ecac {
    box-shadow: none;
    border: none;
}
.wrapper_f7ecac {
    height: 28px;
    padding: 0;
    margin: 0;
    border: none;
}
.container__040f0, .isHeader__040f0:not(.isReply__040f0) {
    padding: 0;
    top: 0px;
}
.message__5126c:not(.groupStart__5126c) .buttons__5126c.container__040f0 {
    top: 0;
}
.button_f7ecac:hover, .wrapper_f7ecac {
    background-color: rgb(43 43 43);
    border-radius: 0;
    background-clip: content-box;
}
.hoverBarButton_f84418:hover .icon_f84418 {
    transform: none;
}
.scrollableContainer__74017 {
    background: var(--mbd-black2);
}
.visual-refresh .container_cc2dff, .visual-refresh .reactors_cc2dff {
    background-color: var(--mbd-black1);
}
.button_f7ecac.dangerous_f7ecac {
    color: var(--mbd-notification);
}
.reactions_f8896c {
    margin-top: 5px;
}
/* Automod Messages */
.embedCard__44c9a {
    background-color: var(--mbd-black2);
}
.iconContainer__44492 {
    left: -76px;
    top: 0;
}
.automodMessage__5126c:before, .shieldIcon_b7ab2c {
    background-color: var(--mbd-notification);
}
.embedCard__44c9a .cozy_c19a55.wrapper_c19a55 {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black1);
    border-bottom: none !important;
    overflow: visible !important;
}
/*Chat bubbles END */


/* Compact view */
.message__5126c:not(.groupStart__5126c).compact_c19a55 .timestamp_c19a55, .message__5126c.groupStart__5126c.compact_c19a55 .timestamp_c19a55 {
    position: relative;
    left: -5px;
}
.compact_c19a55.message__5126c.groupStart__5126c {
    padding: 2px 28px;
    border-radius: 4px;
    margin: 16px 5px 0 52px;
}
.message__5126c:not(.groupStart__5126c).compact_c19a55.wrapper_c19a55 {
    margin-top: -3px;
    margin-left: 52px;
    border-radius: 0 0 4px 4px;
    padding: 2px 28px;
}
.compact_c19a55 .contents_c19a55 {
    margin-left: -24px;
    padding: 0px;
    text-indent: -40px;
}
.compact_c19a55 .container_b7e1cb {
    margin-left: -22px;
}
/* Popup veiw */
.message__89466 .wrapper_c19a55 .avatar_c19a55 {
    left: -50px;
    top: -2px;
}
.message__89466 .wrapper_c19a55 {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black2);
    border-bottom: none !important;
    overflow: visible !important;
}
.message__89466 .cozy_c19a55.wrapper_c19a55:after {
    border-right-color: var(--mbd-black2);
}
.visual-refresh .message__89466 {
    background-color: transparent;
    box-shadow: none;
}

/* inbox */
.recentMentionsPopout__95796 .cozy_c19a55.wrapper_c19a55, .messagesPopoutWrap__45690 .cozy_c19a55.wrapper_c19a55 {
    position: relative;
    margin: 16px 0 0 60px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black2);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.recentMentionsPopout__95796 .cozy_c19a55.wrapper_c19a55:not(.groupStart__5126c) {
    margin: 0 0 0 60px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    border-radius: 0 5px 5px 5px;
}
.recentMentionsPopout__95796 .cozy_c19a55.wrapper_c19a55:after, .messagesPopoutWrap__45690 .cozy_c19a55.wrapper_c19a55:after {
    border-right-color: var(--mbd-black2)
}
.recentMentionsPopout__95796 .cozy_c19a55.wrapper_c19a55 .avatar_c19a55, .messagesPopoutWrap__45690 .cozy_c19a55.wrapper_c19a55 .avatar_c19a55 {
    left: -55px;
}
.container__2692d .cozy_c19a55.wrapper_c19a55:not(.groupStart__5126c).message__1ccd1:after {
    border-right-color: transparent;
}
.messageContainer__95796, .messages__1ccd1, .wrapper_fc8177 {
    background-color: transparent;
}
.container__95796 {
    padding-right: 0;
    padding-left: 8px;
}
/* New thread message preview */
.messagePreview_fb64c9.cozy_c19a55.wrapper_c19a55 {
    position: relative;
    margin: 16px 17px 6px 70px;
    padding: 8px 10px !important;
    background-color: var(--mbd-black1);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.messagePreview_fb64c9 .avatar_c19a55 {
    left: -50px;
}
/* Mod view */
.sidebarContainer__656be .searchResult__02a39 .cozy_c19a55.wrapper_c19a55, .searchResult__02a39 .cozy_c19a55.wrapper_c19a55 {
    position: relative;
    margin: 16px 0 0 60px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black2);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.sidebarContainer__656be .searchResult__02a39 .cozy_c19a55.wrapper_c19a55:after, .searchResult__02a39.cozy_c19a55.wrapper_c19a55:after {
    border-right-color: var(--mbd-black2)
}
.sidebarContainer__656be .searchResult__02a39 .cozy_c19a55.wrapper_c19a55 .avatar_c19a55, .searchResult__02a39 .cozy_c19a55.wrapper_c19a55 .avatar_c19a55 {
    left: -55px;
}
.sidebarContainer__656be .innerContainer__39de8 li>div {
    background: transparent !important;
    box-shadow: none;
}
.sidebarContainer__656be .searchResult__02a39 .cozy_c19a55.wrapper_c19a55 .spinningCircleInner__0b5bb.inner__0b5bb {
    width: 12px;
    height: 10px;
    top: -2px;
    left: -14px;
}