/*Chat bubbles START */
.message_d5deea.groupStart_d5deea {
    position: relative;
    margin: 16px 5px 0 70px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black1);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.cozy_ec86aa.wrapper_ec86aa:after, .previewMessage_c31d36 .message_d5deea:not(.groupStart_d5deea):before {
    content: '';
    position: absolute;
    width: 0 !important;
    height: 0;
    top: 0px !important;
    left: -6px !important;
    margin: -6px 0 0 0;
    border: 6px solid transparent;
    border-color: transparent;
    border-right-color: var(--mbd-black1);
    pointer-events: none;
    transform: rotate(135deg);
}
.message_d5deea.systemMessage_d5deea.groupStart_d5deea:after, .message_d5deea:not(.groupStart_d5deea):after {
    display: none;
}
.message_d5deea.systemMessage_d5deea.groupStart_d5deea {
    border-radius: 5px;
}
.message_d5deea.groupStart_d5deea .avatar_ec86aa, .systemMessage_d5deea.message_d5deea:not(.groupStart_d5deea) .avatar_ec86aa {
    top: 0px;
    left: -50px;
}
.avatarDecoration_ec86aa {
    left: -55px;
    top: 0;
}
.avatar_ec86aa {
    top: 0px;
    left: 20px;
}
.message_d5deea:not(.groupStart_d5deea).cozy_ec86aa.wrapper_ec86aa {
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    border-radius: 0 0 5px 5px;
    margin-top: -3px;
}
.message_d5deea:not(.groupStart_d5deea).mentioned_d5deea {
    background-color: rgb(51 45 32) !important;
}
.theme-dark .message_d5deea.selected_d5deea, .theme-dark.mouse-mode.full-motion .message_d5deea:hover {
    background: var(--mbd-black1);
}
.message_d5deea:not(.groupStart_d5deea) {
    margin: 0 5px 0 70px;
    background: var(--mbd-black1);
    overflow: visible;
}
.message_d5deea:not(.groupStart_d5deea):before {
    position: absolute;
    content: " ";
    left: 0;
    pointer-events: none;
}
.cozy_ec86aa .timestamp_ec86aa.alt_ec86aa {
    left: -65px;
}
.embedFull_ad0b71 {
    border-left: 4px solid var(--mbd-black3);
}
.embedFull_ad0b71 {
    background: var(--mbd-black2) !important;
}
.attachment_a4623d {
    border-color: var(--mbd-black1);
    background-color: var(--mbd-black1);
}
.attachment_a4623d.newMosaicStyle_a4623d, .hoverButtonGroup_ab8b23 {
    background-color: var(--mbd-black2); 
}
.hljs {
    background: var(--mbd-black2);
}
.markup_d6076c code {
    background: var(--mbd-black2) !important;
}
.jumpToPresentBar_cf58b5 {
    background-color: var(--mbd-black4) !important;
}
.textContainer_ad9cbd, .footer_ad9cbd, .modalTextContainer_ad9cbd {
    background-color: var(--mbd-black2) !important;
    border: 1px solid var(--mbd-black2) !important;
}
.mentioned_d5deea.message_d5deea.groupStart_d5deea {
    background-color: rgb(51 45 32) !important;
}
.button_ef319f {
    height: 18px;
}
.button_ef319f.selected_ef319f {
    color: #FFF;
    background-color: transparent;
}
.button_ef319f:active {
    color: #FFF;
    background-color: transparent;
}
.full-motion .wrapper_ef319f:hover, .wrapper_ef319f {
    box-shadow: none;
}
.wrapper_ef319f {
    height: 26px;
}
.container_a3b500 {
    padding: 0;
    top: 0px;
}
.message_d5deea:not(.groupStart_d5deea) .buttons_d5deea.container_a3b500 {
    top: 0;
}
.button_ef319f:hover, .wrapper_ef319f {
    background-color: rgb(43 43 43);
    border-radius: 0;
}
.scrollableContainer_d0696b {
    background: var(--mbd-black2);
}
.theme-dark .container_f2bfbb, .theme-dark .reactors_f2bfbb {
    background-color: var(--mbd-black1);
}
.button_ef319f.dangerous_ef319f {
    color: var(--mbd-notification);
}
.reactions_f61c73 {
    margin-top: 5px;
}
/* Automod Messages */
.embedCard_c6cefd {
    background-color: var(--mbd-black2);
}
.iconContainer_bf4197 {
    left: -76px;
    top: 0;
}
.automodMessage_d5deea:before, .shieldIcon_e8366c {
    background-color: var(--mbd-notification);
}
.embedCard_c6cefd .cozy_ec86aa.wrapper_ec86aa {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black1);
    border-bottom: none !important;
    overflow: visible !important;
}
/*Chat bubbles END */


/* Compact view */
.message_d5deea:not(.groupStart_d5deea).compact_ec86aa .timestamp_ec86aa, .message_d5deea.groupStart_d5deea.compact_ec86aa .timestamp_ec86aa {
    position: relative;
    left: -5px;
}
.compact_ec86aa.message_d5deea.groupStart_d5deea {
    padding: 2px 14px;
    border-radius: 4px;
}
.message_d5deea:not(.groupStart_d5deea).compact_ec86aa.wrapper_ec86aa {
    margin-top: -3px;
    border-radius: 0 0 5px 5px;
    padding-left: 15px;
}
/* Popup veiw */
.message_ddcc45 .wrapper_ec86aa .avatar_ec86aa {
    left: -50px;
    top: -2px;
}
.message_ddcc45 .wrapper_ec86aa {
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black2);
    border-bottom: none !important;
    overflow: visible !important;
}
.message_ddcc45 .cozy_ec86aa.wrapper_ec86aa:after {
    border-right-color: var(--mbd-black2);
}
.theme-dark .message_ddcc45 {
    background-color: transparent;
    box-shadow: none;
}

/* inbox */
.recentMentionsPopout_ddb5b4 .cozy_ec86aa.wrapper_ec86aa, .messagesPopoutWrap_ac90a2 .cozy_ec86aa.wrapper_ec86aa {
    position: relative;
    margin: 16px 0 0 60px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black2);
    border-bottom: none !important;
    overflow: visible !important;
}
.recentMentionsPopout_ddb5b4 .cozy_ec86aa.wrapper_ec86aa:not(.groupStart_d5deea) {
    margin: 0 0 0 60px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
}
.recentMentionsPopout_ddb5b4 .cozy_ec86aa.wrapper_ec86aa:after, .messagesPopoutWrap_ac90a2 .cozy_ec86aa.wrapper_ec86aa:after {
    border-right-color: var(--mbd-black2)
}
.recentMentionsPopout_ddb5b4 .cozy_ec86aa.wrapper_ec86aa .avatar_ec86aa, .messagesPopoutWrap_ac90a2 .cozy_ec86aa.wrapper_ec86aa .avatar_ec86aa {
    left: -55px;
}
.container_f1c3d9 .cozy_ec86aa.wrapper_ec86aa:not(.groupStart_d5deea).message_c06487:after {
    border-right-color: transparent;
}
.messageContainer_ddb5b4, .messages_c06487 {
    background-color: transparent;
}
.container_ddb5b4 {
    padding-right: 0;
    padding-left: 8px;
}
/* New thread message preview */
.messagePreview_fb4810.cozy_ec86aa.wrapper_ec86aa {
    position: relative;
    margin: 16px 17px 6px 70px;
    padding: 8px 10px !important;
    background-color: var(--mbd-black1);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.messagePreview_fb4810 .avatar_ec86aa {
    left: -50px;
}
/* Mod view */
.sidebarContianer_d2194f .searchResult_ddc613 .cozy_ec86aa.wrapper_ec86aa, .searchResult_ddc613 .cozy_ec86aa.wrapper_ec86aa {
    position: relative;
    margin: 16px 0 0 60px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background-color: var(--mbd-black2);
    border-bottom: none !important;
    overflow: visible !important;
}
.sidebarContianer_d2194f .searchResult_ddc613 .cozy_ec86aa.wrapper_ec86aa:after, .searchResult_ddc613.cozy_ec86aa.wrapper_ec86aa:after {
    border-right-color: var(--mbd-black2)
}
.sidebarContianer_d2194f .searchResult_ddc613 .cozy_ec86aa.wrapper_ec86aa .avatar_ec86aa, .searchResult_ddc613 .cozy_ec86aa.wrapper_ec86aa .avatar_ec86aa {
    left: -55px;
}
.sidebarContianer_d2194f .innerContainer_f328ee li>div {
    background: transparent !important;
    box-shadow: none;
}