/*
@keyframes status-animation {
    from {
    transform: scale(0.8);
    opacity: 0; 
    } 
}
.container_b2ca13 .avatarWrapper_b2ca13:before {
    content: " ";
    display: block;
    position: fixed;
    width: 240px;
    height: 418px;
    background: var(--mbd-black4);
    left: 72px;
    bottom: 68px;
    transform-origin: bottom;
    transform: scale(1, 0);
    transition: 280ms cubic-bezier(0.4, 0, 0, 1.1);
    box-shadow: 0 -5px 10px rgb(42 42 42 / 20%);
    z-index: 10;
}
.container_b2ca13 .avatarWrapper_b2ca13[aria-expanded="true"]:before  {
    transform: scale(1); 
}
*/
.customEmojiPlaceholder_c69536 {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRo%0D%0APSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAg%0D%0AMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2%0D%0ALjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIg%0D%0AMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0z%0D%0ALjU4IDgtOCA4em0zLjUtOWMuODMgMCAxLjUtLjY3IDEuNS0xLjVTMTYuMzMgOCAxNS41IDggMTQg%0D%0AOC42NyAxNCA5LjVzLjY3IDEuNSAxLjUgMS41em0tNyAwYy44MyAwIDEuNS0uNjcgMS41LTEuNVM5%0D%0ALjMzIDggOC41IDggNyA4LjY3IDcgOS41IDcuNjcgMTEgOC41IDExem0zLjUgNi41YzIuMzMgMCA0%0D%0ALjMxLTEuNDYgNS4xMS0zLjVINi44OWMuOCAyLjA0IDIuNzggMy41IDUuMTEgMy41eiIvPjwvc3Zn%0D%0APg==) !important;
    background-position: 50% !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
}
.submenu-1apzyU, .submenu-1apzyU .scroller-1bVxF5 {
    background: rgb(40 40 40) !important;
}
.accountProfilePopoutWrapper_b2ca13 .scroller-1bVxF5, .menu_d90b3d[aria-label="Set Status"] {
    background: transparent;
    box-shadow: none !important;
}
.accountProfilePopoutWrapper_b2ca13 .menu_d90b3d {
    background: transparent;
}
.accountProfilePopoutWrapper_b2ca13 .userPopoutOuter_c69a7b.userProfileOuterUnthemed_c69a7b {
    position: relative;
    width: 240px;
    left: 22px;
    top: 1px;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}
.accountProfilePopoutWrapper_b2ca13 .userPopoutOuter_c69a7b.userProfileOuterThemed_c69a7b {
    position: relative;
    width: 232px;
    left: 22px;
    top: 1px;
    box-shadow: none;
}
.accountProfilePopoutWrapper_b2ca13 .userPopoutInner_c69a7b.userProfileInner-3F03PX.userProfileInnerUnthemed-1XxIZu.userProfileInnerWithBanner-3CJ1Og, 
.accountProfilePopoutWrapper_b2ca13 .userProfileInnerNonPremium-1XjSjn, 
.accountProfilePopoutWrapper_b2ca13 .userProfileInnerPremiumWithoutBanner-37uB4Q {
    background: var(--mbd-black4);
}
.accountProfilePopoutWrapper_b2ca13 .userProfileInnerThemedNonPremium-1gT-zY {
    background: var(--mbd-black4);
}
.accountProfilePopoutWrapper_b2ca13 .userPopoutOverlayBackground-dKOOda.overlayBackground-1KgwVi {
    background: transparent;
}
.accountProfilePopoutWrapper_b2ca13 .menus_ad5fac .flexible_d90b3d, .activity_cd74cc {
    background: var(--mbd-black2);
    border-radius: 8px;
}
.submenuPaddingContainer_d90b3d .submenu_d90b3d {
    background-color: rgb(40 40 40);
}
.accountProfilePopoutWrapper_b2ca13 .pencilContainer_c3e427 {
    right: 33%;
}
.accountProfilePopoutWrapper_b2ca13 .bannerSVGWrapper_b32cc2 .popoutBanner_c3e427 {
    width: 240px;
}
.userProfileOuterUnthemed_c69a7b {
    background: var(--mbd-black1);
}
.userProfileOuterUnthemed_c69a7b .biteSizeOverlayBackground_c69a7b {
    background-color: var(--mbd-black2);
}
.userProfileOuterUnthemed_c69a7b .profileBadges_f89da9 {
    background-color: var(--mbd-black2);
}
.userProfileOuterUnthemed_c69a7b .role_f9575e {
    background: var(--mbd-black1);
}
.userProfileInnerThemedWithBanner-2624Yx .textarea_dde0a8, .userProfileInnerThemedPremiumWithoutBanner-1yMS1H .textarea_dde0a8, .theme-light ::placeholder  {
    background-color: transparent !important;
}
.userProfileInnerThemedWithBanner-2624Yx .connectedAccountContainer_f3eb60, .userProfileInnerThemedPremiumWithoutBanner-1yMS1H .connectedAccountContainer_f3eb60 {
    background-color: transparent;
}
.userProfileInnerThemedWithBanner-2624Yx .messageInputContainer-2rGDH8 .input_f8bc55, .userProfileInnerThemedPremiumWithoutBanner-1yMS1H .messageInputContainer-2rGDH8 .input_f8bc55 {
    background-color: transparent;
}