/*
@keyframes status-animation {
    from {
    transform: scale(0.8);
    opacity: 0; 
    } 
}
.container_debb33 .avatarWrapper__500a6:before {
    content: " ";
    display: block;
    position: fixed;
    width: 240px;
    height: 418px;
    background: var(--mbd-black4);
    left: 72px;
    bottom: 68px;
    transform-origin: bottom;
    transform: scale(1, 0);
    transition: 280ms cubic-bezier(0.4, 0, 0, 1.1);
    box-shadow: 0 -5px 10px rgb(42 42 42 / 20%);
    z-index: 10;
}
.container_debb33 .avatarWrapper__500a6[aria-expanded="true"]:before  {
    transform: scale(1); 
}
*/
.customEmojiPlaceholder_b65905 {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRo%0D%0APSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAg%0D%0AMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2%0D%0ALjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIg%0D%0AMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0z%0D%0ALjU4IDgtOCA4em0zLjUtOWMuODMgMCAxLjUtLjY3IDEuNS0xLjVTMTYuMzMgOCAxNS41IDggMTQg%0D%0AOC42NyAxNCA5LjVzLjY3IDEuNSAxLjUgMS41em0tNyAwYy44MyAwIDEuNS0uNjcgMS41LTEuNVM5%0D%0ALjMzIDggOC41IDggNyA4LjY3IDcgOS41IDcuNjcgMTEgOC41IDExem0zLjUgNi41YzIuMzMgMCA0%0D%0ALjMxLTEuNDYgNS4xMS0zLjVINi44OWMuOCAyLjA0IDIuNzggMy41IDUuMTEgMy41eiIvPjwvc3Zn%0D%0APg==) !important;
    background-position: 50% !important;
    background-size: 100% !important;
    background-repeat: no-repeat;
}
.submenu-1apzyU, .submenu-1apzyU .scroller-1bVxF5 {
    background: rgb(40 40 40) !important;
}
.accountProfilePopoutWrapper_d4887f .scroller-1bVxF5, .menu__088f7[aria-label="Set Status"] {
    background: transparent;
    box-shadow: none !important;
}
.accountProfilePopoutWrapper_d4887f .menu__088f7 {
    background: transparent;
}
.accountProfilePopoutWrapper_d4887f .userPopoutOuter_d67f56.userProfileOuterUnthemed__9741c {
    position: relative;
    width: 240px;
    left: 22px;
    top: 1px;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}
.accountProfilePopoutWrapper_d4887f .userPopoutOuter_d67f56.userProfileOuterThemed_a425f3 {
    position: relative;
    width: 232px;
    left: 22px;
    top: 1px;
    box-shadow: none;
}
.accountProfilePopoutWrapper_d4887f .userPopoutInner_ac0960.userProfileInner-3F03PX.userProfileInnerUnthemed-1XxIZu.userProfileInnerWithBanner-3CJ1Og, .accountProfilePopoutWrapper_d4887f .userProfileInnerNonPremium-1XjSjn, .accountProfilePopoutWrapper_d4887f .userProfileInnerPremiumWithoutBanner-37uB4Q {
    background: var(--mbd-black4);
}
.accountProfilePopoutWrapper_d4887f .userProfileInnerThemedNonPremium-1gT-zY {
    background: var(--mbd-black4);
}
.accountProfilePopoutWrapper_d4887f .userPopoutOverlayBackground-dKOOda.overlayBackground-1KgwVi {
    background: transparent;
}
.accountProfilePopoutWrapper_d4887f .menu__088f7 {
    background: transparent;
}
.submenuPaddingContainer__5a97c .submenu_aed9ee {
    background-color: rgb(40 40 40);
}
.accountProfilePopoutWrapper_d4887f .pencilContainer_ae6d25 {
    right: 33%;
}