:root {
    
    --mbd-accent: #103567;
    --mbd-notification: #B00020;

    --mbd-black1: rgba(50,50,50 ,1);
    --mbd-black2: rgba(30,30,30 ,1);
    --mbd-black3: rgba(20,20,20 ,1);
    --mbd-black4: #101010;
}
/* Theme info and version */
.info-3pQQBb:after {
    content: "Material Blue Discord 1.0";
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-muted);
}
/* Theme Developer sign */
.avatar-2e8lTP[src*="253480609224065025"]+::after {
    content: 'Theme Developer';
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    text-shadow: none;
    color: crimson;
    position: absolute;
    margin: 0 8px;
    padding: 2px 4px;
    transform: translateY(20%);
}
/* KEYFRAMES */
@keyframes context-new {
    0% {
        transform: scale(1, 0.8); 
    } 
}
@keyframes top-popout {
    from {
        transform: translate(0, -55px);
        opacity: 0; 
    } 
}
@keyframes add-friend {
    from {
        transform: translate(0, -230px); 
    } 
}
/* KEYFRAMES END */
/* Scroll bars */
::-webkit-scrollbar-track-piece {
    border: 4px solid transparent !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
::-webkit-scrollbar-thumb {
    border: 4px solid transparent !important;
    background-color: rgba(225, 225, 225, 0.1) !important;
    display: initial;
}
.auto-2K3UW5::-webkit-scrollbar-track {
    background-color: transparent;
}
/* Scroll bars END */

/*Context Menu START*/
.menu-1QACrS, .scroller-1bVxF5 {
    background: var(--mbd-black3);
    border-radius: 2px;
    padding: 2px 3px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4) !important;
    animation: opacity 50ms ease, context-new 150ms cubic-bezier(0, 0, 0, 1);
    transform-origin: top;
}
/*Context Menu END*/

/* User Settings Menu START */
.questionMark-3V9mGJ {
    background-color: var(--mbd-accent);
}
.contentRegionScroller-2_GT_N {
    background-color: var(--mbd-black2);
}
.sidebarRegionScroller-FXiQOh {
    background-color: var(--mbd-black3);
}
.accountProfileCard-lbN7n- {
    background-color: var(--mbd-black3);
}
.fieldList-in8WkP, .background-3d_SjE {
    background-color: var(--mbd-black1);
}
.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
    color: var(--button-outline-brand-text);
    border-color: var(--mbd-accent);
}
.lookOutlined-3yKVGo.colorBrand-I6CyqQ:hover, .lookOutlined-3yKVGo.colorBrand-I6CyqQ:active {
    background-color: var(--mbd-accent);
    border-color: var(--mbd-accent);
}
.cardPrimary-3qRT__ {
    background: var(--mbd-black1);
}
.cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i {
    border-color: var(--mbd-black1);
}
.cardPrimaryOutline-1ofwVz {
    border-color: var(--mbd-black1);
    background-color: var(--mbd-black1);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM {
    color: var(--button-outline-danger-text);
}
.lookOutlined-3yKVGo.colorRed-rQXKgM:hover, .lookOutlined-3yKVGo.colorRed-rQXKgM:active {
    background-color: var(--mbd-notification);
    border-color: var(--mbd-notification);
}
.accountList-Wii_T5 {
    background-color: var(--mbd-black1);
}
.connection-YOVI9j {
    background-color: var(--mbd-black1);
}
.connectionHeader-Ixbb1s {
    background: var(--mbd-black3);
}
.cardWrapper-1bSePP, .card-2xlCYc:hover {
    background: var(--mbd-black1);
}
.theme-dark .gemIndicatorContainer-PqApbX {
    background-color: var(--mbd-black2);
}
.noItemsCard-2V85P5, .noItemsCard-5EOcCl {
    background-color: var(--mbd-black1);
}
.theme-dark .noItemsIcon-1rZlXZ, .theme-dark .noItemsIcon-2OeOld {
    background-color: var(--mbd-black1);
}
.theme-dark .codeRedemptionRedirect-2hYMSQ {
    background-color: var(--mbd-black1);
    border-color: var(--mbd-black1);
}
.cardInput-33x7OF {
    background-color: var(--mbd-black1);
}
.theme-dark .bar-1Bhnl9, .theme-dark .markDash-yk2kJ- {
    background: var(--mbd-black1);
}
.barFill-2Bh7CX {
    background: var(--mbd-accent);
}
.previewMessage-2g_aBv {
    background-color: var(--mbd-black2);
}
.button-12Fmur.enabled-9OeuTA:hover {
    color: var(--interactive-hover);
    background-color: var(--mbd-black1);
}
.phoneField-3NAPDv {
    background-color: var(--mbd-black1);
    border: 1px solid var(--mbd-black1);
}
.phoneField-3NAPDv .inputField-1iYysB {
    background-color: var(--mbd-black1);
}
.theme-dark .popoutList-10IFAa {
    background: var(--mbd-black1);
}
.theme-dark .selectableItem-3-fmiM:hover {
    background-color: var(--mbd-black2);
}
.userPopout-2j1gM4, .bodyInnerWrapper-2bQs1k {
    background-color: var(--mbd-black1);
}
.footer-3naVBw {
    background-color: var(--mbd-black1);
}
.textarea-_59yqs {
    background-color: var(--mbd-black2) !important;
}
.avatar-2Vndt_ {
    border: 6px solid transparent;
    background-color: transparent;
}
.avatar-3QF_VA {
    border: 8px solid transparent;
    background-color: transparent;
}
.pencilContainer-18TrEJ:hover {
    background-color: var(--mbd-black2);
}
.body-1Ukv50, .topSection-13QKHs {
    background-color: var(--mbd-black1);
}
.note-Go5ZP2 {
    margin-left: 0;
    margin-right: 0;
}
/* User Settings Menu END */

/* Top bar START */
.container-ZMc96U.themed-Hp1KC_, .searchBar-3TnChZ {
    background: var(--mbd-accent);
}
.children-3xh0VB:after {
    background: transparent !important;
}
.icon-2xnN2Y {
    color: #ffffff !important;
}
.searchBar-jGtisZ {
    background-color: var(--mbd-accent);
}
.container-2McqkF {
    background-color: var(--mbd-black3);
}
.option-ayUoaq:hover {
    background-color: var(--mbd-black1);
}
.option-ayUoaq[aria-selected=true] {
    background-color: var(--mbd-black1);
}
.option-ayUoaq:after, .option-ayUoaq[aria-selected=true]:after{
    background: transparent;
}
.option-ayUoaq:hover:after {
    background: var(--mbd-black1);
}
.theme-dark .searchAnswer-23w-CH, .theme-dark .searchFilter-2UfsDk {
    background-color: var(--mbd-accent);
}
.theme-dark .queryContainer-ZunrLZ {
    border-bottom-color: transparent;
}
.theme-dark .focused-2FU0YH {
    background-color: var(--mbd-black3);
}
.resultsGroup-cfY57t:before {
    border-top: 1px solid var(--mbd-black1);
}
.theme-dark .dim-2Uxgxb span {
    background-color: var(--mbd-black1);
}
.theme-dark .keybindShortcut-3zF1P9 span {
    box-shadow: inset 0 -4px 0 rgb(30 30 30);
}
.keybindShortcut-3zF1P9 span {
    border: 1px solid var(--mbd-black1);
}
.theme-dark .calendarPicker-sDhzdi .react-datepicker__header {
    background-color: var(--mbd-black3);
}
.theme-dark .calendarPicker-sDhzdi .react-datepicker {
    background-color: var(--mbd-black3);
}
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: var(--mbd-black1);
}
.datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l, .datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l:hover {
    background-color: var(--mbd-accent);
}
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: var(--mbd-accent);
}
.calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--keyboard-selected, .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover, .calendarPicker-sDhzdi .react-datepicker__day:hover {
    border-radius: 0;
    color: #fff;
    background-color: var(--mbd-black4);
}
/* Top bar END */

/* Friends MAIN START */
.peopleColumn-1wMU14, .searchBar-2aylmZ {
    background-color: var(--mbd-black2);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--mbd-accent);
}
.platform-win .sidebar-1tnWFu {
    border-radius: 0 !important;
}
.scroller-hE2gWq {
    border-left: none;
}
.container-1oAagU {
    background-color: var(--mbd-black2);
}
.wrapper-2RrXDg {
    background-color: var(--mbd-black1);
    border: none;
    transition: 100ms ease;
}
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: var(--mbd-black3);
    transition: 100ms ease;
}
.scroller-WSmht3 {
    background-color: var(--mbd-black3);
}
.section-3G9aLW {
    background-color: var(--mbd-black1);
}
.partyMemberOverflow-3G1oZz {
    background-color: var(--mbd-black2);
}
.actionButton-3-B2x-, .actionButton-3-B2x-.highlight-3DSi7b {
    background-color: transparent !important;
}
.actionButton-3-B2x-:hover {
    color: #fff;
}
.interactiveSelected-29CP8y{
    transition: 100ms ease;
}
.interactiveSelected-29CP8y, .interactive-1vLZ_I:focus-within, .interactive-1vLZ_I:hover, .interactive-1vLZ_I:active {
    background-color: var(--mbd-black1);
    transition: 100ms ease;
}
.addFriendInputWrapper-kkoSV9:focus-within {
    border-color: var(--mbd-accent);
    transition: 100ms ease-in-out;
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
    background-color: var(--mbd-accent);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    color: #fff;
    background-color: var(--mbd-accent);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: var(--mbd-accent);
    transform: translateY(-1px);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active {
    background-color: var(--mbd-accent);
    transform: translateY(1px);
}
.header-30YxSJ {
    border-bottom: 0;
    background-color: var(--mbd-black3);
    animation: 150ms ease, add-friend 250ms cubic-bezier(0,0,0,1);
}
.addFriendInputWrapper-kkoSV9 {
    background-color: var(--mbd-black3);
    border: 1px solid rgb(255 255 255 / 30%);
    border-radius: 0;
    transition: 100ms ease-in-out;
}
.emptyCard-KDifrB {
    background: var(--mbd-black3);
}
.theme-dark .separator-2lLxgC {
    box-shadow: var(--elevation-low);
}
.inviteBannerUpsell-1t_LYM {
    background-color: var(--mbd-black2);
}
.header-oub2Vc {
    background-color: var(--mbd-accent) !important;
}
.content-2hZxGK {
    padding-top: 5px;
}
.footer-C9oLp9 {
    background-color: var(--mbd-black3);
}
.noResults-1ceiMB, .scroller-1Kbkqa {
    background-color: var(--mbd-black1);
}
.theme-dark .friendSelected-3cwmD7 {
    background-color: var(--mbd-black2);
    transition: 100ms ease;
}
.container-1SX9VC {
    background-color: var(--mbd-black3);
}
.tag-15zcD_ {
    background-color: var(--mbd-black1);
}
.header-1w9Q93 {
    background-color: var(--mbd-black3);
}
.scroller-145h9c, .scroller-MIi2ab {
    background-color: var(--mbd-black1);
}
.messages-23can0, .messageContainer-3VTXBC {
    background-color: var(--mbd-black2);
}
.channelHeader-DFRX8q {
    background-color: var(--mbd-black1);
}
.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
    background-color: var(--mbd-accent);
}
.primary-38Hs-h:hover:not(.disabled-184-il), .secondary-2bzKEX {
    background-color: var(--mbd-black1);
}
.secondary-2bzKEX:hover:not(.disabled-184-il) {
    background-color: var(--mbd-black1);
    color: var(--interactive-active);
}
.localizeBadge-24ZXps {
    background-color: transparent;
}
.peopleListItem-u6dGxF {
    border-top: none;
}
.peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover {
    background: var(--mbd-black1);
}
.addFriendInput-1Ta-rO .input-2g-os5 {
    background-color: transparent;
}
/* Friends MAIN END */

/*Nitro Main START*/
.scroller-29cQFV {
    background-color: var(--mbd-black2);
}
.theme-dark .feature-2IUcBI {
    background-color: var(--mbd-black1);
}
/*Nitro Main END*/

/* Server List START */
.scroller-3X7KbA {
    background-color: var(--mbd-black1);
}
.homeIcon-r0w4ny {
    background-color: #fff;
    opacity: .5;
    -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjwh%0D%0ARE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cu%0D%0AdzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4x%0D%0AIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4%0D%0AbGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRo%0D%0APSI2NHB4IiBoZWlnaHQ9IjY0cHgiIHZpZXdCb3g9IjAgMCA2NCA2NCIgZW5hYmxlLWJhY2tncm91%0D%0AbmQ9Im5ldyAwIDAgNjQgNjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPiAgPGltYWdlIGlkPSJpbWFn%0D%0AZTAiIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgeD0iMCIgeT0iMCIKICAgIHhsaW5rOmhyZWY9ImRh%0D%0AdGE6aW1hZ2UvcG5nO2Jhc2U2NCxpVkJPUncwS0dnb0FBQUFOU1VoRVVnQUFBRUFBQUFCQUNBUUFB%0D%0AQUFBWUxsVkFBQUFCR2RCVFVFQUFMR1BDL3hoQlFBQUFDQmpTRkpOCkFBQjZKZ0FBZ0lRQUFQb0FB%0D%0AQUNBNkFBQWRUQUFBT3BnQUFBNm1BQUFGM0NjdWxFOEFBQUFBbUpMUjBRQS80ZVB6TDhBQUFBSmNF%0D%0AaFoKY3dBQUN4TUFBQXNUQVFDYW5CZ0FBQUFIZEVsTlJRZmpEQlFMR1JtMXNRQjhBQUFCQkVsRVFW%0D%0AUm8zdTNaMFE2Q01BeUZZYmJ3L3E5YwpyMENCYmp1blhTSEU3b0xvTnZKL0toY0dpaXpQanZwd1B3%0D%0ASHZCOGppdklwOUFQazVQZ0FRNWRXTkFPbTh1d0Vnd0V3Z1FJalpBSUFZClZpWUNqcEd5RkIrQkJa%0D%0AenozNk9Sd0FHMHZKUEFBRnA1RndFSDlQSU9BZ29ZNWMwRURJRGtqUVFFZ09aTmhER0F5UnNJSXdD%0D%0AYnB3bDkKZ0NWUEVub0FhNTRpdEFHZVBFRm9BYng1bUtBRFp1UkJnZ2FZbFljSVY4RE1QRUE0QTJi%0D%0Abmg0VGFXd3dhaDBwdExkeEZXT244YUIvMgpzOG0ycjVJbnpocDdyU3FUY1JTbFVDOGJZcitKUzJG%0D%0AVk5uQ2ZaaHZvTlhRNjcvVTNLQktRZ0FRa0lBRUplRDlnN2E1YS9xYUczcVlMCkdBa28rZHd3QVFu%0D%0ANGU4QUgwMW8rZXE1eHo3c0FBQUFsZEVWWWRHUmhkR1U2WTNKbFlYUmxBREl3TVRrdE1USXRNakJV%0D%0ATVRFNk1qVTYKTWpVck1ETTZNRER0aVgwOUFBQUFKWFJGV0hSa1lYUmxPbTF2WkdsbWVRQXlNREU1%0D%0ATFRFeUxUSXdWREV4T2pJMU9qSTFLekF6T2pBdwpuTlRGZ1FBQUFBQkpSVTVFcmtKZ2dnPT0iIC8+%0D%0ACjwvc3ZnPgo=);
    width: 100%;
    height: 100%;
    -webkit-mask-size: 28px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: all 100ms ease;
}
.tutorialContainer-1pL9QS .listItem-3SmSlK:first-child .childWrapper-1j_1ub {
    background-color: transparent;
    }
.homeIcon-r0w4ny, .wrapper-3kah-n .homeIcon-r0w4ny {
    opacity: .5;
    transition: all 100ms ease;
}
.homeIcon-r0w4ny:hover, .wrapper-3kah-n .selected-1Drb7Z .homeIcon-r0w4ny {
    opacity: 1;
    transition: all 100ms ease;
}
.homeIcon-r0w4ny, .wrapper-3kah-n.selected-1Drb7Z .homeIcon-r0w4ny {
    opacity: 1;
    transition: all 100ms ease;
}
.scroller-3X7KbA:not(.foldercontent) .tutorialContainer-1pL9QS .listItem-3SmSlK:first-child .pill-L_aLMQ {
    display: none;
}
.scroller-3X7KbA:not(.foldercontent) > .tutorialContainer-1pL9QS {
    position: sticky;
    display: flex;
    margin: 0;
    margin-bottom: 5px;
    height: 48px;
    width: 72px;
    top: 0;
    background-color: var(--mbd-accent);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.platform-osx .scroller-3X7KbA, .platform-win .scroller-3X7KbA {
    padding-top: 0px;
}
.expandedFolderBackground-1kSAf6 {
    background-color: var(--mbd-accent);
}
.folder-241Joy {
    cursor: pointer;
    background-color: var(--mbd-black3);
}
.folder-241Joy.hover-3m7-WT {
    background-color: var(--mbd-black4);
}
/* Server List END */

/* User Controlls START */
.panels-3wFtMD {
    background-color: var(--mbd-black4);
}
.container-YkUktl {
    height: 67px;
}
/* User Controlls END */

/* Server Tabs MAIN START */
/* Chat & server channels  */
.header-3OsQeK {
    background-color: var(--mbd-accent);
}
.clickable-vvKY2q .header-3OsQeK:hover {
    background-color: var(--mbd-accent);
}
.clickable-vvKY2q .selected-1GtAC5, .hasBanner-2IrYih .header-3OsQeK {
    background-color: transparent !important;
}
.clickable-vvKY2q, .selected-1GtAC5 .header-3OsQeK {
    background-color: var(--mbd-black3) !important;
}
.scroller-1ox3I2 {
    background-color: var(--mbd-black3);
}
.members-3WRCEx, .members-3WRCEx>div, .container-2o3qEW{
    background-color: var(--mbd-black2);
}
.theme-dark .children-19S4PO:after {
    background: transparent;
}
.scroller-kQBbkU {
    background-color: var(--mbd-black2);
}
.form-3gdLxP {
    border-top: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 0;
}
.form-3gdLxP {
    background-color: var(--mbd-black2);
}
.form-3gdLxP {
    background-color: var(--mbd-black2);
}
.form-3gdLxP:before {
    background: transparent !important;
}
.scrollableContainer-15eg7h .divider-2rZFJK {
    bottom: 11px;
}
.scrollableContainer-15eg7h {
    background-color: var(--mbd-black4);
    scrollbar-width: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 0;
}
.channelTextArea-1FufC0 {
    right: 10px;
    margin-bottom: 0;
    background-color: var(--mbd-black4);
    padding-right: 10px;
    border-radius: 0;
}
.channelAttachmentArea-HwpkuQ {
    display: flex;
    gap: 25px;
    margin: 0 0 10px 6px;
    padding: 10px 10px 10px;
    overflow-x: auto;
}
.content-3spvdd {
    background: var(--mbd-black1);
}
.animatedContainer-2laTjx, .bannerImage-ubW8K- {
    z-index: 2;
}
.markup-eYLPri code {
    background: var(--mbd-black1);
    border: 1px solid var(--mbd-black1);
}
.embedFull-1HGV2S {
    background: var(--mbd-black1);
}
.newMessagesBar-1hF-9G {
    background-color: var(--mbd-accent);
}
.wrapper-2vIMkT {
    background-color: var(--mbd-black1);
}
.wrapper-3HVHpV, .wrapper-15CKyy, .scroller-3KyaqJ {
    background-color: var(--mbd-black2);
    overflow: hidden;
}
.jumpToPresentBar-1cEnH0 {
    background-color: var(--mbd-black1);
}
.spamBanner-1auiob {
    display: flex;
    background: var(--mbd-black4);
    margin: 0;
    padding: 11px;
    border-radius: 0;
    overflow: hidden;
}
.base-3bcbY3 {
    position: absolute;
    bottom: 44px;
    left: 0px;
    right: 9px;
    height: 24px;
}
.wrapper-2SplAX {
    position: relative;
    z-index: 1;
    left: -10px;
    border-radius: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 24px 0;
    width: 101.5%;
    background-color: var(--mbd-black4);
}
.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    color: #f6f6f7;
    background-color: var(--mbd-accent);
}
.messagesPopout-eVzQcI {
    background-color: var(--mbd-black1);
}
.footer-5ji8u1 {
    background-color: var(--mbd-black3);
}
.attachedBars-2BCP3l {
    background: var(--mbd-black4);
}
.replyBar-1oi75v, .threadSuggestionBar-3ExSyc {
    background: var(--mbd-black4);
}
.replying-eZ7p5z:before {
    background-color: var(--mbd-accent);
}
.upload-vLbqu- {
    background-color: var(--mbd-black1);
}
.content-2eQb8J {
    background: var(--mbd-black3);
}
.theme-dark .footer-31IekZ {
    background-color: var(--mbd-black1);
}
.checkboxWrapper-2fDzaA.checked-1pZh2h .checkbox-f1HnKB[style*="background-color: var(--brand-experiment-500);"] {
    background-color: var(--mbd-accent) !important;
    border-color: var(--mbd-accent) !important;
}
.theme-dark .root-g14mjS {
    background-color: var(--mbd-black3);
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: var(--mbd-black1);
}
.wrapper-NhbLHG:hover .content-1gYQeQ {
    background-color: var(--mbd-black1);
}
.notice-12Koq- {
    background-color: var(--mbd-accent);
    border-radius: 0;
}
.button-3_1yil:hover {
    background-color: var(--mbd-accent);
}
.selectedProgressBar-11z5d9 {
    background-color: var(--mbd-accent);
}
.colorBrand-21Le_q {
    color: #FFF;
}
.theme-dark .previewCard-E137i2 {
    background-color: var(--mbd-black1);
    border: 1px solid var(--mbd-black1);
}
.rsvpCount-iCkObl {
    background-color: var(--mbd-black2);
}
.theme-dark .message-G6O-Wv {
    background-color: var(--mbd-black1);
}
.reaction-2A2y9y.reactionMe-3I9gFK {
    border-color: #1d69d0;
}
.contentWrapper-3vHNP2 {
    background-color: var(--mbd-black1);
}
.wrapper-22rqw6 {
    background-color: var(--mbd-black1);
}
.categoryItemDefaultCategorySelected-2YeRUu, .categoryItemDefaultCategorySelected-2YeRUu:hover {
    background-color: var(--mbd-black2);
}
.inspector-DFKXwB {
    background-color: var(--mbd-black1);
}
.wrapper-1NNaWG {
    background-color: var(--mbd-black2);
}
.navButtonActive-1EqC5l {
    background-color: var(--mbd-black2);
    color: #fff;
}
.theme-dark .categoryFadeBlurple-1l49_Q, .theme-light .categoryFadeBlurple-1l49_Q {
    background-color: #103567e8;
}
.theme-dark .categoryFadeBlurple-1l49_Q:hover, .theme-light .categoryFadeBlurple-1l49_Q:hover {
    background-color: #103567e8;
}
.theme-dark .focused-16Owih:after, .theme-dark .result-pzZrwj:hover:after {
    box-shadow: inset 0 0 0 2px #237bf3e8, inset 0 0 0 3px #2f3136;
}
.theme-dark .autocomplete-3NRXG8 {
    background-color: var(--mbd-black1);
}
.categoryHeader-OpJ1Ly {
    background-color: var(--mbd-black2);
}
.selected-3B2w1z, .selected-3B2w1z:hover {
    background-color: var(--mbd-black2);
}
.theme-dark .selected-3H3-RC {
    background-color: var(--mbd-black2);
    transition: 100ms ease;
}
.theme-dark .option-Tt7anD {
    background-color: var(--mbd-accent);
}
.theme-dark .optionPillKey-2JyeoP {
    background-color: var(--mbd-accent);
}
.theme-dark .optionPill-2kmuZR {
    background-color: var(--mbd-black3);
    border-color: var(--mbd-accent) !important;
}
.selected-1-Z6gm .layout-1qmrhw {
    background-color: var(--mbd-black1);
}
.clickable-28SzVr.container-1oeRFJ:hover, .clickable-28SzVr.container-1oeRFJ:hover .muted-14PyqW {
    background-color: var(--mbd-black1);
}
.emojiPicker-6YCk8a {
    background-color: var(--mbd-black1);
}
.emptyChannelIcon-1YdEz2 {
    background-color: var(--mbd-black1);
}
.icon-2yhmi8 {
    background-color: var(--mbd-black2);
}
.jumpButton-1V_1FA {
    background-color: var(--mbd-black1);
}
.tertiary-1e-lAP {
    background-color: var(--mbd-black2);
    color: var(--interactive-normal);
}
.tertiary-1e-lAP:hover:not(.disabled-184-il) {
    background-color: var(--mbd-black3);
    color: var(--interactive-active);
}
/* Threads & Events */
.container-3XgAHv {
    background: var(--mbd-black2);
    border-radius: 0;
}
.channelTextArea-3TZH74 {
    margin: 0;
    width: 100%;
    border-radius: 0;
}
.chat-2ZfjoI.threadSidebarOpen-1LSXvU {
    border-radius: 0;
}
.resizeHandle-PBRzPC {
    background-color: var(--mbd-accent);
}
.iconWrapper-3plkqh {
    background-color: var(--mbd-black1);
}
.privateThreadFeaturePill-3pnWt5 {
    background-color: var(--mbd-black1);
}
.container-3i3IzO {
    background-color: var(--mbd-black1);
}
.container-18GwIk {
    background-color: var(--mbd-black1);
}
.header-3_zmOb {
    background-color: var(--mbd-black3);
}
.container-2rzKKA {
    background-color: var(--mbd-black2);
    border: 1px solid var(--mbd-black2);
}
.card-8UsK4b {
    background-color: var(--mbd-black1);
    border: 2px solid var(--mbd-black1);
}
.card-8UsK4b:hover {
    background-color: var(--mbd-black1);
    border-color: var(--mbd-accent);
}
.eventStatusBrand-3D-ae6 {
    color: #2167c5;
}
.header-1sd0RU {
    background-color: var(--mbd-accent);
}
.contentContainer-BWAau5 {
    background-color: var(--mbd-black1);
}
.content-2hZxGK {
    border-radius: 0;
}
.icon-mJhEWn {
    background-color: var(--mbd-black2);
}
.container-2ebMPP {
    background-color: var(--mbd-black1);
}
/* Server Tabs MAIN END */

/* Server Search Tab START*/
.scroller-3iiyhZ {
    background-color: var(--mbd-black4);
}
.channelName-3w2Y3c {
    background: var(--mbd-black4);
}
.searchResult-O9NDji {
    background-color: var(--mbd-black2);
}
.button-cfOvv- {
    background-color: var(--mbd-black1);
}
.searchHeader-1r_ZSh {
    background-color: var(--mbd-black1);
}
/* Server Search Tab END*/

/* Server Settings START */
.avatarUploaderInnerSquareDisabled-3M9eJS {
    background-color: var(--mbd-black1);
}
.descriptionBox-SKGNgB {
    background-color: var(--mbd-black1);
}
.contentRegion-3HkfJJ {
    background-color: var(--mbd-black2);
}
.theme-dark .headerClickable-zGQJz3, .theme-dark .headerDefault-1e6yjj {
    background-color: var(--mbd-black1);
    color: #b9bbbe;
}
.theme-dark .headerExpanded-1-zwDr {
    background-color: var(--mbd-black3);
    color: #b9bbbe;
}
.theme-dark .changeDetails-1kMZqI {
    background-color: var(--mbd-black1);
}
.popout-1KHNAq {
    border: 1px solid var(--mbd-black1);
    background: var(--mbd-black1);
}
.selectedIcon-19TbzU {
    color: var(--mbd-accent);
}
.option-2eIyOn.focused-ODgjnC, .option-2eIyOn:focus, .option-2eIyOn:hover {
    background-color: var(--mbd-black2);
    color: var(--interactive-hover);
}
.option-2eIyOn[aria-selected=true]:not(.option-2eIyOn.multi-1HXDiv) {
    color: var(--interactive-active);
    background-color: var(--mbd-black3);
}
.input-2g-os5 {
    background-color: var(--mbd-black2);
}
.lookFilled-1GseHa.select-1Ia3hD {
    background-color: var(--mbd-black1);
    border-color: var(--mbd-black1);
}
.guildFeatureAvailabilityIndicator-34eQAP {
    background-color: var(--mbd-black1);
}
.container-20TyK0 {
    background: var(--mbd-black1) !important;
}
.itemFilled-1cPbtg {
    background-color: var(--mbd-black1);
}
.itemFilled-1cPbtg:hover:not([aria-checked=true]), .itemFilled-1cPbtg:active:not([aria-checked=true]) {
    background-color: var(--mbd-black1);
}
.itemFilled-1cPbtg[aria-checked=true] {
    background-color: var(--mbd-black3);
}
.lookOutlined-3yKVGo.colorPrimary-2AuQVo:hover {
    background-color: var(--mbd-black1);
}
.lookOutlined-3yKVGo.colorPrimary-2AuQVo:active {
    background-color: var(--mbd-black1);
}
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--mbd-black1);
}
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
    background-color: var(--mbd-black1) !important;
}
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:active:not(.disabled-1nofHP) {
    background-color: var(--mbd-black1) !important;
}
.container-3EtAkD, .container-3EtAkD:hover {
    background-color: var(--mbd-black1);
}
.icon-2DGsye {
    background-color: var(--mbd-black2);
}
.container-2oNtJn {
    background-color: var(--mbd-black1);
}
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) {
    background-color: var(--mbd-black1);
}
.roleRow-3LoHQ6:hover:not(.roleRowDisableHover-2TXfy-) .circleButton-33AIyY {
    background-color: var(--mbd-black2);
}
.theme-dark .tierBody-1d3UiS {
    background-color: var(--mbd-black1);
}
.theme-dark .tierHeaderLocked-30MLlO {
    background-color: var(--mbd-black3);
}
.theme-dark .iconWrapper-2_MXbk {
    background: var(--mbd-black1);
}
.upsellFooter-1H_OCF {
    background-color: var(--mbd-black1);
}
.perksList-34peAu {
    background-color: var(--mbd-black1);
}
.theme-dark .background-3xJH_4, .theme-dark .tierInProgress-1vFUnw, .theme-dark .tierInProgress-1vFUnw {
    color: var(--mbd-black1);
}
.theme-dark .tierInProgress-1vFUnw {
    background-color: var(--mbd-black1);
}
.tierLock-1eabw6 {
    color: var(--mbd-black1);
}
.theme-dark .perksModal-CLcR1c {
    background-color: var(--mbd-black1);
}
.ctaBar-Nhk8yY {
    background-color: var(--mbd-black2);
}
.theme-dark .tierHeaderLocked-3ItHYn {
    background-color: var(--mbd-black3);
}
.theme-dark .tierBody-3ju-rc {
    background-color: var(--mbd-black2);
}
.theme-dark .barBackground-unEPDT {
    background-color: var(--mbd-black2);
}
.theme-dark .tierMarkerBackground-G8FoN4 {
    background-color: var(--mbd-black1);
}
.tierMarker-Vw1C95 {
    background: var(--mbd-black2) !important;
}
.theme-dark .perk-19D_HN {
    background-color: var(--mbd-black2);
}
.container-2O1UgZ {
    background-color: var(--mbd-black2);
    border: 1px solid var(--mbd-black1);
}
.selectedBrand-1AtwYE {
    background: var(--mbd-accent) !important;
    color: #fff;
}
.focused-qp-W9B, .item-1BCeuB:hover:not(.disabled-Mmpvl7) {
    background-color: var(--mbd-black1);
    color: var(--interactive-hover);
}
.cardPrimaryEditable-2mz_3i {
    background: var(--mbd-black1);
}
.theme-dark .card-3JmxsM {
    border-color: var(--mbd-black1);
}
.copyInput-3AbKWB {
    background-color: var(--mbd-black1);
}
.perks-2IIbWQ {
    background-color: var(--mbd-black1);
    border-radius: 8px;
}
.featureCard-3XHbjy {
    background-color: var(--mbd-black1);
}
.serverBoostTabItem-3QwA3W[aria-selected=true] {
    color: #fff!important;
    background-color: var(--mbd-accent) !important;
}
.css-xpql1x-control {
    background-color: var(--mbd-black1);
}
.css-3vaxre-menu {
    background-color: var(--mbd-black1);
}
.pruneLink-jE0uo7 {
    color: var(--mbd-notification);
}
.colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: var(--mbd-accent);
    color: #fff;
}
.itemFilled-1cPbtg[aria-checked=true] {
    background-color: var(--mbd-black4);
}
.container-2nx-BQ {
    background-color: hsl(218, calc(var(--saturation-factor, 1) * 0%), 30%) !important;
    transition: 100ms ease;
}
.container-2nx-BQ.checked-25WXMf {
    background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 30%) !important;
    transition: 100ms ease;
}
.lookFilled-yCfaCM.colorBrandNew-2-gGsS {
    background-color: var(--mbd-accent);
}
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover {
    background-color: var(--mbd-accent);
    opacity: .9;
}
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:active {
    background-color: var(--mbd-accent);
    opacity: 1;
}
.grabber-2GQyvM {
    width: 18px;
    height: 18px;
    margin-left: -9px;
    top: 50%;
    margin-top: -9px;
    border-radius: 50%;
}
.theme-dark .notches-2w7UZJ.gray-3wP137 {
    background-image: none;
}
.theme-dark .progress-1S-TDF {
    background-color: var(--mbd-black1);
}
.cameraWrapper-3a7Ngv {
    background-color: var(--mbd-black1);
    border: 1px solid var(--mbd-black1);
}
.backgroundOptionInner-SSz19O {
    background-color: var(--mbd-black1);
}
.backgroundOptionRing-1vvQ0C {
    border: 2px solid var(--mbd-accent);
}
.filled-2zYazI {
    background-color: var(--mbd-notification);
}
.keybindShortcut-3zF1P9 span {
    background-color: var(--mbd-black1);
}
.theme-dark .notDetected-M3Ghh2, .theme-light .notDetected-M3Ghh2 {
    background-color: var(--mbd-black1);
}
.selected-18Wszc.option-1QI4c9, .option-1QI4c9:hover {
    background-color: var(--mbd-accent);
}
.wrapper-SdcMKg {
    border: 2px solid var(--mbd-accent);
}
.selected-18Wszc.disabled-35mc5w, .disabled-35mc5w:hover,  .wrapper-SdcMKg.disabledSelected-1jqfsw {
    opacity: 1;
    color: var(--mbd-notification);
}
.header-JUTO-g, .titleContainer-3fPic2 {
    background-color: var(--mbd-black2);
}
.top-K_jibn .brand-3g5E0C.item-3XjbnG:active, .top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG {
    border-bottom-color: var(--mbd-accent);
}
.top-K_jibn .brand-3g5E0C.item-3XjbnG:hover {
    border-bottom-color: var(--mbd-accent);
}
.previewContainer-1GxmBJ {
    background: var(--mbd-black1);
}
.availabilityIndicator-3-1ZYA {
    background-color: var(--mbd-black1);
}
.disabled-1nofHP.item-3XjbnG, .disabled-1nofHP.item-3XjbnG:hover {
    color: var(--mbd-black1);
}
.memberRow-1FhJgR:hover, .memberRow-1FhJgR:active {
    background-color: var(--mbd-black1);
}
.theme-dark .default-1Tkeeg {
    background-color: var(--mbd-black1);
}
.checkboxWrapper-2fDzaA.row-31nALW, .checkboxWrapper-2fDzaA.row-31nALW:hover:not(.checked-1pZh2h), .checkboxWrapper-2fDzaA.row-31nALW:active:not(.checked-1pZh2h), .checkboxWrapper-2fDzaA.row-31nALW.checked-1pZh2h {
    background-color: var(--mbd-black1);
}
.role-2TIOKu {
    background: var(--mbd-black2);
}
.colorDefault-CDqZdO .checkbox-hADx5o, .colorDefault-CDqZdO .radioSelection-1UHp0b {
    color: var(--mbd-accent);
}
.circleIconButton-1VxDrg {
    background-color: var(--mbd-black2);
}
input.inputDefault-3FGxgL.input-2g-os5.inputInner-vW14RT {
    background-color: var(--mbd-black1);
}
/* Server Settings END */

/* loading circle START*/
@keyframes loading {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}
.inner-26JK4f:not(.pulsingEllipsis-3YiXRF) {
    position: relative;
    border-top: 4px solid rgba(255, 255, 255, .2);
    border-right: 4px solid rgba(255, 255, 255, .2);
    border-bottom: 4px solid rgba(255, 255, 255, .2);
    border-left: 4px solid #fff;
    width: 26px;
    height: 26px;
    animation: loading 1s infinite linear;
    top: 3px;
}
.inner-26JK4f {
    border-radius: 50px;
}
.wanderingCubesItem-3Us-UG {
    display: none;
}
.pulsingEllipsisItem-3pNmEc {
    display: none;
}
.circular-3Fmqjd {
    display: none;
}
.spinner-wjuo80 {
    width: 38px !important;
    margin-left: 14px;
}
.spinner-3QeLKO {
    position: relative;
    top: calc(12% - 0px);
}
/* loading circle END*/

/* Add server & Discover START */
.container-1Lk8p7 {
    background-color: var(--mbd-black4);
    border-radius: 4px
}
.subtitle-3m-md1, .text-PdAsFQ, .title-1_TkpU, .footerTitle-3Bslxi, .colorHeaderSecondary-g5teka, .optionHeader-27AHfD, .title-OdeD-o, .subtitle-1cc8Nz, .skip-2hTIXL, .subtitle-bIoUVX, .title-2Giw-4, .h5-2RwDNl, .uploadIcon-2wV7s_, .input-2g-os5:hover, .input-2g-os5, .sizeMin-DfpWCE, .guidelines-FvqqF2, .closeButton-2ygCkj, .close-1mLglB, .title-1LqMUp, .sampleLink-5BWNy9, .rowText-3MQqQi {
    color: #fff;
}
.lookLink-15mFoz.colorPrimary-2AuQVo {
    color: #fff !important;
}
.templatesList-uohY49 {
    border-radius: 0px;
}
.theme-light .footer-31IekZ {
    background-color: var(--mbd-black4);
    -webkit-box-shadow: inset 0 1px 0 var(--mbd-black4);
    box-shadow: inset 0 1px 0 var(--mbd-black4);
}
.container-x8Y1ix {
    background-color: var(--mbd-black3);
    border: 1px solid var(--mbd-black1);
}
.container-x8Y1ix:hover {
    background-color: var(--mbd-black1);
}
.container-x8Y1ix:active {
    background-color: var(--mbd-black1);
}
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B {
    color: #fff;
    background-color: var(--mbd-accent);
}
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
    background-color: var(--mbd-accent);
    opacity: .8;
}
.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:active {
    background-color: var(--mbd-accent);
    opacity: .9;
}
.rowContainer-3t7486 {
    background-color: var(--mbd-black1);
}
.rowContainer-3t7486:hover, .rowContainer-3t7486:active {
    background-color: var(--mbd-black2);
}
.backButton-2Ps-B8 {
    color: #FFF;
}
.input-m1-Y7Q {
    background-color: var(--mbd-black4);
    border-radius: 4px;
}
.sidebar-1tnWFu {
    background: var(--mbd-black3);
}
.pageWrapper-2PwDoS, .scroller-RfJjkV {
    background-color: var(--mbd-black1);
}
.theme-dark .card-2TuZPZ, .theme-dark .iconMask-2fMR98, .container-1wv6C6 {
    background-color: var(--mbd-black2);
}
.theme-dark .card-2TuZPZ:hover, .theme-dark .card-2TuZPZ:hover .iconMask-2fMR98, .theme-dark .iconMask-2fMR98:hover, .theme-dark .iconMask-2fMR98:hover .iconMask-2fMR98 {
    background-color: var(--mbd-black3);
}
.categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
    background-color: var(--mbd-accent);
}
.theme-light ::placeholder, .theme-light input, .theme-light select, .theme-light textarea {
    font-weight: 500;
    background-color: var(--mbd-black1);
}
.scroller-3j5xK2 {
    background: var(--mbd-black1);
}
.clickable-28SzVr:hover .layout-1qmrhw, .clickable-28SzVr:active .layout-1qmrhw {
    background-color: var(--mbd-black1);
    cursor: pointer;
}
.new-3EJMgr {
    background-color: var(--mbd-black1);
}
/* Add server & Discover END */

/*BD Settings START*/
.monaco-editor .margin {
    background-color: var(--mbd-black4) !important;
}
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
    background-color: var(--mbd-black1) !important;
}
.bd-search-wrapper {
    background-color: var(--mbd-black3) !important;
}
.bd-addon-list .bd-addon-card {
    background: var(--mbd-black1) !important;
}
.bd-addon-list .bd-addon-header {
    background: var(--mbd-black3) !important;
}
.bd-switch-body {
    --switch-color: #4d4d4d;
    transition: 100ms ease;
}
.bd-switch input:checked+.bd-switch-body {
    background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 30%) !important;
    transition: 100ms ease;
}
.bd-select {
    background-color: var(--mbd-black1);
    border: 1px solid var(--mbd-black1);
}
.bd-select .bd-select-options {
    position: absolute;
    background: var(--mbd-black1);
}
.bd-button.bd-button-danger {
    background-color: var(--mbd-notification);
}
.bd-button {
    background-color: var(--mbd-accent);
}
.bd-addon-views .bd-view-button.selected {
    background-color: var(--mbd-accent);
}
/*BD Settings END*/