:root {
    
    --mbd-accent: #103567;
    --mbd-notification: #B00020;

    --mbd-black1: rgba(50,50,50 ,1);
    --mbd-black2: rgba(30,30,30 ,1);
    --mbd-black3: rgba(20,20,20 ,1);
    --mbd-black4: #101010;
}
/* Theme Developer sign */
.avatar-2e8lTP[src*="253480609224065025"]+::after {
    content: 'Theme Developer';
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    line-height: normal;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    text-shadow: none;
    color: crimson;
    position: absolute;
    margin: 0 8px;
    padding: 2px 4px;
    transform: translateY(20%);
}
/* KEYFRAMES */
@keyframes context-new {
    0% {
        transform: scale(1, 0.8); 
    } 
}
@keyframes top-popout {
    from {
        transform: translate(0, -55px);
        opacity: 0; 
    } 
}
@keyframes add-friend {
    from {
        transform: translate(0, -230px); 
    } 
}
/* KEYFRAMES END */
/* Scroll bars */
::-webkit-scrollbar-track-piece {
    border: 4px solid transparent !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
::-webkit-scrollbar-thumb {
    border: 4px solid transparent !important;
    background-color: rgba(225, 225, 225, 0.1) !important;
    display: initial;
}
.auto-2K3UW5::-webkit-scrollbar-track {
    background-color: transparent;
}
/* Scroll bars END */

/*Context Menu START*/
.menu-1QACrS, .scroller-1bVxF5 {
    background: var(--mbd-black3);
    border-radius: 2px;
    padding: 0px 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4) !important;
    animation: opacity 50ms ease, context-new 150ms cubic-bezier(0, 0, 0, 1);
    transform-origin: top;
}
/*Context Menu END*/

/* User Settings Menu START */
.contentRegionScroller-2_GT_N {
    background-color: var(--mbd-black2);
}
.sidebarRegionScroller-FXiQOh {
    background-color: var(--mbd-black3);
}
.accountProfileCard-lbN7n- {
    background-color: var(--mbd-black3);
}
.fieldList-in8WkP, .background-3d_SjE {
    background-color: var(--mbd-black1);
}
/* User Settings Menu END */

/* Top bar START */
.container-ZMc96U.themed-Hp1KC_, .searchBar-3TnChZ {
    background: var(--mbd-accent);
}
.children-3xh0VB:after {
    background: transparent !important;
}
.icon-2xnN2Y {
    color: #ffffff !important;
}
/* Top bar END */

/* Friends MAIN START */
.peopleColumn-1wMU14, .searchBar-2aylmZ {
    background-color: var(--mbd-black2);
}
.searchBar-3TnChZ .searchBarComponent-3N7dCG {
    background-color: var(--mbd-accent);
}
.platform-win .sidebar-1tnWFu {
    border-radius: 0 !important;
}
.scroller-hE2gWq {
    border-left: none;
}
.container-1oAagU {
    background-color: var(--mbd-black2);
}
.wrapper-2RrXDg {
    background-color: var(--mbd-black1);
    border: none;
    transition: 100ms ease;
}
.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: var(--mbd-black3);
    transition: 100ms ease;
}
.scroller-WSmht3 {
    background-color: var(--mbd-black3);
}
.section-3G9aLW {
    background-color: var(--mbd-black1);
}
.partyMemberOverflow-3G1oZz {
    background-color: var(--mbd-black2);
}
.actionButton-3-B2x-, .actionButton-3-B2x-.highlight-3DSi7b {
    background-color: transparent !important;
}
.actionButton-3-B2x-:hover {
    color: #fff;
}
.interactiveSelected-29CP8y{
    transition: 100ms ease;
}
.interactiveSelected-29CP8y, .interactive-1vLZ_I:focus-within, .interactive-1vLZ_I:hover, .interactive-1vLZ_I:active {
    background-color: var(--mbd-black1);
    transition: 100ms ease;
}
.addFriendInputWrapper-kkoSV9:focus-within {
    border-color: var(--mbd-accent);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
    background-color: var(--mbd-accent);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
    color: #fff;
    background-color: var(--mbd-accent);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: var(--mbd-accent);
    transform: translateY(-1px);
}
.lookFilled-yCfaCM.colorBrand-I6CyqQ:active {
    background-color: var(--mbd-accent);
    transform: translateY(1px);
}
.header-30YxSJ {
    border-bottom: 0;
    animation: 150ms ease, add-friend 250ms cubic-bezier(0,0,0,1);
}
.emptyCard-KDifrB {
    background: var(--mbd-black3);
}
/* Friends MAIN END */

/*Nitro Main START*/
.scroller-29cQFV {
    background-color: var(--mbd-black2);
}
.theme-dark .feature-2IUcBI {
    background-color: var(--mbd-black1);
}
/*Nitro Main END*/

/* Server List START */
.scroller-3X7KbA {
    background-color: var(--mbd-black1);
}
.homeIcon-r0w4ny {
    background-color: #fff;
    opacity: .5;
    -webkit-mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjwh%0D%0ARE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cu%0D%0AdzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgdmVyc2lvbj0iMS4x%0D%0AIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4%0D%0AbGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRo%0D%0APSI2NHB4IiBoZWlnaHQ9IjY0cHgiIHZpZXdCb3g9IjAgMCA2NCA2NCIgZW5hYmxlLWJhY2tncm91%0D%0AbmQ9Im5ldyAwIDAgNjQgNjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPiAgPGltYWdlIGlkPSJpbWFn%0D%0AZTAiIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgeD0iMCIgeT0iMCIKICAgIHhsaW5rOmhyZWY9ImRh%0D%0AdGE6aW1hZ2UvcG5nO2Jhc2U2NCxpVkJPUncwS0dnb0FBQUFOU1VoRVVnQUFBRUFBQUFCQUNBUUFB%0D%0AQUFBWUxsVkFBQUFCR2RCVFVFQUFMR1BDL3hoQlFBQUFDQmpTRkpOCkFBQjZKZ0FBZ0lRQUFQb0FB%0D%0AQUNBNkFBQWRUQUFBT3BnQUFBNm1BQUFGM0NjdWxFOEFBQUFBbUpMUjBRQS80ZVB6TDhBQUFBSmNF%0D%0AaFoKY3dBQUN4TUFBQXNUQVFDYW5CZ0FBQUFIZEVsTlJRZmpEQlFMR1JtMXNRQjhBQUFCQkVsRVFW%0D%0AUm8zdTNaMFE2Q01BeUZZYmJ3L3E5YwpyMENCYmp1blhTSEU3b0xvTnZKL0toY0dpaXpQanZwd1B3%0D%0ASHZCOGppdklwOUFQazVQZ0FRNWRXTkFPbTh1d0Vnd0V3Z1FJalpBSUFZClZpWUNqcEd5RkIrQkJa%0D%0AenozNk9Sd0FHMHZKUEFBRnA1RndFSDlQSU9BZ29ZNWMwRURJRGtqUVFFZ09aTmhER0F5UnNJSXdD%0D%0AYnB3bDkKZ0NWUEVub0FhNTRpdEFHZVBFRm9BYng1bUtBRFp1UkJnZ2FZbFljSVY4RE1QRUE0QTJi%0D%0Abmg0VGFXd3dhaDBwdExkeEZXT244YUIvMgpzOG0ycjVJbnpocDdyU3FUY1JTbFVDOGJZcitKUzJG%0D%0AVk5uQ2ZaaHZvTlhRNjcvVTNLQktRZ0FRa0lBRUplRDlnN2E1YS9xYUczcVlMCkdBa28rZHd3QVFu%0D%0ANGU4QUgwMW8rZXE1eHo3c0FBQUFsZEVWWWRHUmhkR1U2WTNKbFlYUmxBREl3TVRrdE1USXRNakJV%0D%0ATVRFNk1qVTYKTWpVck1ETTZNRER0aVgwOUFBQUFKWFJGV0hSa1lYUmxPbTF2WkdsbWVRQXlNREU1%0D%0ATFRFeUxUSXdWREV4T2pJMU9qSTFLekF6T2pBdwpuTlRGZ1FBQUFBQkpSVTVFcmtKZ2dnPT0iIC8+%0D%0ACjwvc3ZnPgo=);
    width: 100%;
    height: 100%;
    -webkit-mask-size: 28px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    transition: all 100ms ease;
}
.tutorialContainer-1pL9QS .listItem-3SmSlK:first-child .childWrapper-1j_1ub {
    background-color: transparent;
    }
.homeIcon-r0w4ny, .wrapper-3kah-n .homeIcon-r0w4ny {
    opacity: .5;
    transition: all 100ms ease;
}
.homeIcon-r0w4ny:hover, .wrapper-3kah-n .selected-1Drb7Z .homeIcon-r0w4ny {
    opacity: 1;
    transition: all 100ms ease;
}
.homeIcon-r0w4ny, .wrapper-3kah-n.selected-1Drb7Z .homeIcon-r0w4ny {
    opacity: 1;
    transition: all 100ms ease;
}
.scroller-3X7KbA:not(.foldercontent) .tutorialContainer-1pL9QS .listItem-3SmSlK:first-child .pill-L_aLMQ {
    display: none;
}
.scroller-3X7KbA:not(.foldercontent) > .tutorialContainer-1pL9QS {
    position: sticky;
    display: flex;
    margin: 0;
    margin-bottom: 5px;
    height: 48px;
    width: 72px;
    top: 0;
    background-color: var(--mbd-accent);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.platform-osx .scroller-3X7KbA, .platform-win .scroller-3X7KbA {
    padding-top: 0px;
}
.expandedFolderBackground-1kSAf6 {
    background-color: var(--mbd-accent);
}
.folder-241Joy {
    cursor: pointer;
    background-color: var(--mbd-black3);
}
.folder-241Joy.hover-3m7-WT {
    background-color: var(--mbd-black4);
}
/* Server List END */

/* User Controlls START */
.panels-3wFtMD {
    background-color: var(--mbd-black4);
}
.container-YkUktl {
    height: 67px;
}
/* User Controlls END */

/* Server Tabs MAIN START */
/* Chat & server channels  */
.header-3OsQeK {
    background-color: var(--mbd-accent);
}
.scroller-1ox3I2 {
    background-color: var(--mbd-black3);
}
.members-3WRCEx, .members-3WRCEx>div, .container-2o3qEW{
    background-color: var(--mbd-black2);
}
.theme-dark .children-19S4PO:after {
    background: transparent;
}
.scroller-kQBbkU {
    background-color: var(--mbd-black2);
}
.form-3gdLxP {
    border-top: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 0;
}
.form-3gdLxP {
    background-color: var(--mbd-black2);
}
.form-3gdLxP {
    background-color: var(--mbd-black2);
}
.form-3gdLxP:before {
    background: transparent !important;
}
.scrollableContainer-15eg7h {
    background-color: var(--mbd-black4);
    scrollbar-width: none;
}
.channelTextArea-1FufC0 {
    right: 10px;
    margin-bottom: 0;
    background-color: var(--mbd-black4);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
    border-radius: 0;
}
.content-3spvdd {
    background: var(--mbd-black1);
}
.animatedContainer-2laTjx, .bannerImage-ubW8K- {
    z-index: 2;
}
.markup-eYLPri code {
    background: var(--mbd-black1);
    border: 1px solid var(--mbd-black1);
}
.embedFull-1HGV2S {
    background: var(--mbd-black1);
}
.newMessagesBar-1hF-9G {
    background-color: var(--mbd-accent);
}
.wrapper-2vIMkT {
    background-color: var(--mbd-black1);
}
/* Server Tabs MAIN END */
/* loading circle START*/
@keyframes loading {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}
.inner-26JK4f:not(.pulsingEllipsis-3YiXRF) {
    position: relative;
    border-top: 4px solid rgba(255, 255, 255, .2);
    border-right: 4px solid rgba(255, 255, 255, .2);
    border-bottom: 4px solid rgba(255, 255, 255, .2);
    border-left: 4px solid #fff;
    width: 28px;
    height: 28px;
    animation: loading 1s infinite linear;
}
.inner-26JK4f {
    border-radius: 50px;
}
.wanderingCubesItem-3Us-UG {
    display: none;
}
/* loading circle END*/

/*BD Settings START*/
.monaco-editor .margin {
    background-color: var(--mbd-black4) !important;
}
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
    background-color: var(--mbd-black1) !important;
}
.bd-search-wrapper {
    background-color: var(--mbd-black3) !important;
}
.bd-addon-list .bd-addon-card {
    background: var(--mbd-black1) !important;
}
.bd-addon-list .bd-addon-header {
    background: var(--mbd-black3) !important;
}
/*BD Settings END*/