/** 
 * @name Material Blue Discord
 * @version 1.0
 * @author Elisniper
 * @source https://github.com/Elisniper/MBD
 * @description Material Blue Discord Theme.
 * @website https://xbased.net/pages/MBD.html
*/

/* Discord Theme import */
@import url(https://elisniper.github.io/MBD/release/import.css);